<body>
<div class="card1">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">ExTrack</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="view-bank">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="policy">Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="budget-view">Budget</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="expense">Income/Expense</a>
          </li>
         
        </ul>
        <!--
        <span class="navbar-text" (click)="logout1()">
          logout
        </span>
        <pre>  </pre>
        <span class="navbar-text">
          ExTrack expects you to save!!
        </span>
        -->  
      </div>
    </div>
  </nav>
</div>

<button (click)="logout1()" style="position: absolute;left: 1350px;top: 15px;height: 30px;width: 80px;color: rgb(11, 16, 11);background-color: rgb(160, 140, 129);border-radius: 40px;">Logout</button>
  
  

<h1>WECOME TO EXPENSE TRACKER SYSTEM</h1><br><br>
  
  <div class="row row-cols-1 row-cols-md-2 g-4">

    <div class="d1">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/images/track5.jpg" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">ADD ACCOUNT</h5>
            <p class="card-text">The ADD ACCONT will help you to add the your account and track the income and expense on that account.</p>
            <p class="card-text"><small class="text-body-secondary"></small></p>
            <a aria-current="page" routerLink="view-bank" class="btn btn-primary" >GO PAGE</a>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="d2">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/images/track7.jpg" class="img-fluid rounded-start" >
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">ADD INCOME/ EXPENSE</h5>
            <p class="card-text">The income the expense that you have done can be note down here. This expense that you have made will automatically detucted from you account.</p>
            <p class="card-text"><small class="text-body-secondary"></small></p>
            <a aria-current="page" routerLink="view-expense" class="btn btn-primary">GO PAGE</a>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="d1">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/images/pexels-mikhail-nilov-7735624.jpg" class="img-fluid rounded-start" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ADD POLICY</h5>
              <p class="card-text">You might be having lots of policies like car, health, gadgets insurance etc,. If you are having trouble in reminding all then this page is to resole that issue.</p>
              <p class="card-text"><small class="text-body-secondary"></small></p>
              <a aria-current="page" routerLink="policy" class="btn btn-primary">GO PAGE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
     
    <div class="d2">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/images/pexels-alesia-kozik-67813400.jpg" class="img-fluid rounded-start" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ADD BUDGET</h5>
              <p class="card-text">In order to save the money for the future purpose the buget fitting is necessary. Here you can set the max limits to spend on the particular category.</p>
              <p class="card-text"><small class="text-body-secondary"></small></p>
              <a aria-current="page" routerLink="budget-view" class="btn btn-primary">GO PAGE</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>


  

  
  <br><br><br><br><br><br>

  </body>