<div style="background-color: rgb(185, 176, 182);" >
  <div  style="height: 700px;width: 600px;">
    <h1>Bar chart Budget</h1>
    <br>
    <canvas id="piechart1" ></canvas>
  </div>
  <div style="height: 700px;width:600px;position: absolute;left:800px;top:10px">
      <h1>Bar chart Expense</h1>
      <br>
      <canvas id="piechart2"></canvas>
    
  </div>
  <button style="position: absolute;left: 1100px;top: 450px;height: 40px;width: 100px;color: rgb(222, 235, 222);background-color: rgb(16, 143, 94);border-radius: 40px; " routerLink="/home2">Back</button>
</div>


  