<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">ExTrack</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="register">Register</a>
        </li>
        
        
      </ul>
      <span class="navbar-text">
        ExTrack expects you to save!!
      </span>
    </div>
  </div>
</nav>

<br><br><br>
	
<h1 class="neonText">EXPENSE TRACKER SYSTEM</h1>
<div class="container">
  <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleSlidesOnly">
    <div class="loading-area">
      <div class="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <br><br><br><br><br>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="box front">
                <img src="../assets/images/mc.jpg">
                
                <h3>MARK CUBAN</h3>
                <p class="socials">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-linkedin"></i>
                  <i class="fa fa-youtube"></i>
                </p>
              </div>
              <div class="box back">
                <span class="fa fa-quote-left"></span>
                <p>
                  Being A Smart Shopper Is The First Way To Become Rich
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="box front">
                <img src="../assets/images/save2.jpg">
                
                <h3>ABOUT </h3>
                <p class="socials">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-linkedin"></i>
                  <i class="fa fa-youtube"></i>
                </p>
              </div>
              <div class="box back">
                <span class="fa fa-quote-left"></span>
                <p>
                  This ExTrack( The Expense Tracker) helps to track your daily spendings and income. 
                  The user can add their account and with that the income and expense are mapped to the user's respective account and the same can also be shown. 
                  The user is given with another option to set the budget limits for a particular category of expense. 
                  The policies can also be added by the user in order to keep track of what are the policies thaat can be undertaken by them. That's It (❁´◡`❁)
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="box front">
                <img  src="../assets/images/wb1.jpg">
                
                <h3>WARREN BUFFETT</h3>
                <p class="socials">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-linkedin"></i>
                  <i class="fa fa-youtube"></i>
                </p>
              </div>
              <div class="box back">
                <span class="fa fa-quote-left"></span>
                <p>
                  Do Not Save What Is Left After Spending, But Spend What Is Left After Saving
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="box front">
                <img src="src/assets/images/pexels-mikhail-nilov-7735624.jpg">
                <h2>Jesicca Doe</h2>
                <h4>CEO, Microsoft</h4>
                <p class="socials">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-linkedin"></i>
                  <i class="fa fa-youtube"></i>
                </p>
              </div>
              <div class="box back">
                <span class="fa fa-quote-left"></span>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores soluta quidem dolorem debitis. Minima, optio illum magni exercitationem eum laborum! Incidunt sequi repellat vero.
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>	

    <br><br><br>
<img src="./assets/images/lic.jpg"  width="100" height="80">
<img src="./assets/images/ms.png"  width="100" height="80">
<img src="./assets/images/re.png"  width="100" height="80">
<img src="./assets/images/sbi.jpg"  width="100" height="80">
<img src="./assets/images/star.png"  width="100" height="80">
<img src="./assets/images/apple.png"  width="80" height="80">	
<h2 class="neonText">Come let's grow together</h2>	

<br><br><br>
  </div>
</div>

<!--

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/4289079.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/5711233.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/pic1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h1>WECOME TO EXPENSE TRACKER SYSTEM</h1><br>
<h2>(IF THERE IS A DREAM THEN THERE MUST BE SAVING)</h2>
<br><br><br><br><br><br><br>
<img src="./assets/images/save3.jpg"  width="291" height="300">
<img src="./assets/images/save4.jpg"  width="290" height="300">
<img src="./assets/images/save5.jpg"  width="290" height="300">
<img src="./assets/images/save2.jpg"  width="290" height="300">
<img src="./assets/images/save1.jpg"  width="296" height="300">
<br><br><br><br><br><br><br><br><br><br>
<h2 class="neonText">COME LET'S GROW TOGETHER</h2><br>
<br><br><br><br><br><br><br>
-->
</body>